/* google sans */
$noto_sans: 'Noto Sans';
/* google serif */
$noto_serif: 'Noto Serif';
/*typekit serif */
$adobe_garamond: 'adobe-garamond-pro';

/* common */
$arial: 'Arial';
$comic_sans_ms: 'Comic Sans MS';
$courier: 'Courier';
$courier_new: 'Courier New';
$georgia: 'Georgia';
$times_new_roman: 'Times New Roman';
$trebuchet_ms: 'Trebuchet MS';
$verdana: 'Verdana';

$font_helvetica: 'Helvetica', sans-serif;
$font_libre_baskerville: 'Libre Baskerville', serif;
$font_roboto: 'Roboto', sans-serif;
$font_zilla_slab: 'Zilla Slab', serif;

/* google fonts */
.noto_serif{
  font-family: $noto_serif;
}
.noto_sans{
  font-family: $noto_sans;
}
/* typekit */
.adobe_garamond{
  font-family: $adobe_garamond;
}

 /* font styles */
.helvetica {
  font-family: $font_helvetica;}
.libre_baskerville {
  font-family: $font_libre_baskerville;}
.roboto {
  font-family: $font_roboto;}
.zilla_slab {
  font-family: $font_zilla_slab;}

