/* Google */
$noto_sans_japanese: "Noto Sans Japanese";
$sawarabi_gothic: "Sawarabi Gothic";
$rounded_mplus_1c: "Rounded Mplus 1c";
$mplus_1p: "Mplus 1p";
/* typekit */
$kozuka_gothic_pro: "kozuka-gothic-pro";

.noto_sans_japanese{
  font-family: $noto_sans_japanese;
}
.kozuka_gothic_pro{
  font-family: $kozuka_gothic_pro;
}
.sawarabi_gothic{
  font-family: $sawarabi_gothic;
}
.rounded_mplus_1c{
  font-family: $rounded_mplus_1c;
}
.mplus_1p{
  font-family: $mplus_1p;
}



