$font: 'Helvetica', sans-serif;

$font_size_1: 48px;
$font_size_2: 20px;
$font_size_4: 16px;
$font_size_5: 14px;
$font-size: $font_size_4;

$color_mono_1: #061f26;
$color_mono_2: #212121;
$color_mono_2a: #3a3a3a;
$color_mono_3: #515e65;
$color_mono_3a: #7a7a7a;
$color_mono_3b: #a3a3a3;
$color_mono_4: #ababab;
$color_mono_5: #dcdddf;
$color_mono_6: #e3e3e3;
$color_mono_6a: #ebecee;
$color_mono_7: #f0f1f3;
$color_mono_8: #f0f0f2;

$color_brand_1: $color_mono_3;
$color_attention1: #ff716d;
$color_attention: #ef8376;

$font_title_weight: 300;
$font_title_color: #fff;
$font_title_case: capitalize;
$font_body_sp: 0.5px;

$m0: 4px;
$m1: 8px;
$m2: 16px;
$m3: 24px;
$m4: 32px;
$m5: 40px;
$m6: 48px;
$m7: 56px;
$m8: 64px;
$m9: 72px;


/* common */
body{
  font-family: $font;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  letter-spacing: $font_body_sp;
  color: $color_mono_4;
}

.img-responsive{
  margin: 0 auto;
}

.ref, .ref a{
  color: $color_attention;
}

/* layout */
.mt-3{
  margin-top: $m3;
}


.mb-3{
  margin-bottom: $m3;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


/* type set */
h1{
  color: $color_mono_1;
  font-size: $font_size_1;
}


h1 a, h1 a:link, h1 a:visited, h1 a:hover{
  color: $color_mono_1;
  text-decoration: underline;
}

h2{
  color: $color_mono_1;
  font-size: $font_size_4;
  font-weight: 600;
  font-family: 'helvetica', sans-serif;
}

h3{
  color: #fff;
  font-size: $font_size_2;
  font-weight: 600;
  font-family: 'helvetica', sans-serif;
}

a:hover{
  text-decoration: none;
}


.glyphicon{
  visibility: visible;
}



/* site common header */
.top-header{
  padding: $m2;
  background-color: $color_mono_7;
}


.top{
  margin: 0;
}


.top-logo{
  height: 30px;
  margin-right: $m1; 
}


.top-title{
  float: left;
  font-size: 24px;
  color: $font_title_color;
  font-weight: $font_title_weight;
  text-transform: $font_title_case;
}

.top-title a{
  color: $font_title_color;
}

.top-intro{
  color: $color_mono_4;
}
.top-font-link{
  color: $color_attention;
  text-decoration: underline;
}

.top-icon{
  width: 30px;
}

/* intro */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(239, 131, 118, 0.95);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    top: 15px;
    right: 35px;
  }
}

.intro-text{
    color: #fff;
    margin-bottom: 20px;
    font-size: $font_size;
}
.intro-text a{
    color: #fff;
    text-decoration: underline;
    font-size: $font_size;
}
.closebtn {
    background-color: #fff;
    margin: 0 auto;
    border: none;
    color: $color_attention;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border-radius: 4px;
    box-sizing: border-box;
}


/* distance */
.dis-frame{
  position: relative;
  height: 500px;
  width: 100%;
}
.dis-en{
  width: 24px;
}
.dis-jp{
  width: 22px;
}

.dis-font, .dis-font a{
  position: absolute;
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

.dis-else, .dis-else a{
  color: $color_mono_2;
}


.dis-ref{
  top: 250px;
  left: 50%;
}


.dis-hr{
  margin: 0;
  padding-top: 230px;
  border: 0;
  border-bottom: 1px solid $color_mono_5;
}


.dis-triangle{
  margin-left: 3px;
}


.tooltips{
    display: inline-block;
}


.tooltips .tooltipstext{
  font-size: $font_size_5;
  font-weight: lighter;
  visibility: hidden;
  color: $color_mono_2;
  width: 120px;
  background-color: $color_mono_6;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 2;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}


.tooltips:hover .tooltipstext{
  visibility: visible;
}


/* Font list page */
.list-bg{
  background-color: $color_mono_8;
}
.list-fonts{
  margin: $m2;
}
.list-font, .list-font a{
  color: $color_mono_1;
}

.list-caption{
  color: $color_mono_4;
  font-size: $font_size_5;
  margin: $m3 0 $m1 $m2;
}

.list-hr{
  margin: $m1 0;
  border: 0;
  border-bottom: 1px solid $color_mono_6;
}
/* Font sort */
.sort-font{
  font-size: $font_size_2;
}
.sort-else, .sort-else a{
  color: $color_mono_2;
}
.sort-caption{
  color: $color_mono_4;
  font-size: $font_size_5;
}

/* test */
.test-containter{
  background-color: $color_mono_8;
  height: 100vh;
}
.test-intro{
  color: $color_mono_3;
  margin: $m2 0;
}
.test-intro a{
  color: $color_attention;
  text-decoration: underline;
}
.test-form{
  margin: $m1;
}
.test-textarea{
  color: $color_mono_1;
  width: 100%; 
  height: 200px;
  border: 1px solid $color_mono_8;
  padding: $m1;
}
.test-en{
  font-size: 1em;
}
.test-jp{
  font-size: 0.8em;
}
/* about */
.about{
  color: $color_mono_3;
  font-family: 'adobe-caslon-pro';
}
.about a{
  color: $color_mono_2;
  text-decoration: underline;
}
.about-nav a{
  color: $color_attention;
}
