$font: 'Helvetica', sans-serif;

$font_size_1: 48px;
$font_size_4: 16px;
$font_size_5: 14px;
$font-size: $font_size_4;

$color_mono_1: #061f26;
$color_mono_2: #232323;
$color_mono_3: #525252;
$color_mono_4: #ababab;
$color_mono_5: #dcdddf;
$color_mono_6: #e3e3e3;
$color_mono_7: #f0f1f3;

$color_brand_1: $color_mono_3;
$color_attention: #fa3942;

$font_title_weight: 300;
$font_title_color: #fff;
$font_title_case: capitalize;
$font_body_sp: 0.5px;

$m0: 4px;
$m1: 8px;
$m2: 16px;
$m3: 24px;
$m4: 32px;
$m5: 40px;
$m6: 48px;
$m7: 56px;
$m8: 64px;
$m9: 72px;


/* common */
body{
  font-family: $font;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  letter-spacing: $font_body_sp;
}

.img-responsive{
  margin: 0 auto;
}

/* layout */
.mt-3{
  margin-top: $m3;
}


.mb-3{
  margin-bottom: $m3;
}


/* type set */
h1{
  color: $color_mono_1;
  font-size: $font_size_1;
}


h1 a, h1 a:link, h1 a:visited, h1 a:hover{
  color: $color_mono_1;
  text-decoration: underline;
}


a:hover{
  text-decoration: none;
}


.glyphicon{
  visibility: visible;
}



/* site common header */
.top-header{
  padding: $m2;
  background-color: $color_mono_7;
}


.top{
  margin: 0;
}


.top-logo{
  height: 30px;
  margin-right: $m1; 
}


.top-title{
  float: left;
  font-size: 24px;
  color: $font_title_color;
  font-weight: $font_title_weight;
  text-transform: $font_title_case;
}

.top-title a{
  color: $font_title_color;
}


.top-nav{
  float: right;
  color: $color_mono_4;
}

.top-nav-link a{
  color: $color_mono_1;
}

.top-font-link{
  color: $color_mono_1;
  text-decoration: underline;
}


/* distance */
.dis-frame{
  position: relative;
  height: 500px;
  width: 100%;
}


.dis-font{
  position: absolute;
  top: 200px;
  font-size: 24px;
}


.dis-hr{
  margin: 0;
  padding-top: 230px;
  border: 0;
  border-bottom: 1px solid $color_mono_5;
}


.dis-triangle{
  margin-left: 3px;
}


.tooltips{
    position: relative;
    display: inline-block;
}


.tooltips .tooltipstext{
  font-size: $font_size_5;
  font-weight: lighter;
  visibility: hidden;
  color: $color_mono_2;
  width: 120px;
  background-color: $color_mono_6;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 2;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}


.tooltips:hover .tooltipstext{
  visibility: visible;
}


/* Font list page */
.list-font, .list-font a{
  color: $color_mono_2;
}

.list-ref, .list-ref a{
  color: $color_attention;
}

/* Font sort */
.sort-caption{
  color: $color_mono_4;
  font-size: 0.8em;
}
