{% extends "base.html" %}


{% block content %}
  <div class="container"><div class="row">
    <div class="col-sm-12 mb-3 about">
      <!-- what is this app -->
      <h2>About Font Distance</h2>
      <p>This web app helps you to find similar fonts to your choice, looking at font balances and weight.<br>
       I hope this project gives you some idea when you choose fonts for a project that involves Japanese writing and English writing.
       I myself find it not wasy to set fonts for projects involing different languages. I think it is because those font families have in a way completely different evolving histories. I appreciate fonts designed for such situation, <a href="https://www.google.com/get/noto/" target="_blank">Goolge Noto Fonts</a>, or <a href="https://source.typekit.com/source-han-serif/" target="_blank">Adobe Source Han Serif</a>. At the same time I think possible combinations of fonts vary, as people write various things. </p> 
      <p>For this app, I chose fonts in this way:
      <ul>
        <li>I chose serif (Gothic in Japanese), sans serif (Mincho in Japanese), or monospace, rather slab or script fonts, assuming to set fonts for body or long text.</li>
        <li>If the font is avaialbe as open source, Typekit, or commonly installed in Mac and Windows to make sure users can see the same shape of the fonts.</li>
        <li>I started with fonts that I found some way related in texts by <a href="https://www.linotype.com/469/akira-kobayashi.html" target="_blank">Akira Kobayashi</a>, <a href="http://elupton.com/2009/10/book-store/" target="_blank">Ellen Lupton</a>, or <a href="http://stephencoles.org/" target="_blank">Stephen Coles</a>.</li>
       </ul></p>    
      <p>With this app you can see overall font relationships in <a href="/">Font Distance</a>, test typing in <a href="/typeset">Font Test</a>, and look up similar fonts in <a href="/sort/jp">Similar Fonts in Japanese</a>, or in <a href="/sort/en">Similar Fonts in English</a>. Due to data size, these fonts do not support open type function.</p>
        <!-- how to calc distance -->
       <p>To calculate 'font distance', this app compare params of each fonts, for example, line width, character width, ratio of x-height to cap height, or ratio of Kanji volume to Hiragana volume.</p>
       <!-- ref -->
       <p> I started this project after inspired by <a href="http://fontmap.ideo.com/" target="_blank">Font Map</a>, which supprted by machine learning technique. My app is not directly supported by machine learning, rather it is a hand tweeked project, but several concept and techniques of machine learning gave me hint while I was thinking its algorithm.</p>
      <p>Hope you enjoy it!<br><a href="https://yukinokoh.github.io/">Yukino</a></p>

    </div></div>
  </div>
{% endblock %}
