{% extends "base.html" %}


{% block content %}
  <div class="container"><div class="row">
    <div class="col-sm-12 mb-3">
      <div class="{{ ref_font.style }}">
          <h1>{{ ref_font.name }}</h1>
        <p class="top-intro"> This web app helps you to find similar fonts of your choice, looking at font balances and weight. On this chart, letters are positioned according to each font similarity to
          <a href="/list/{{ view }}"><span class="top-font-link">{{ ref_font.name }}</span></a>.
        </p>
      </div>
    </div>
  </div></div>

  <div class="container">
    <div class="row"><div class="col-sm-12 dis-frame">
      <div class="tooltips dis-font dis-ref ref {{ ref_font.style }}"> 
        {% if ref_font.lang == 'jp' %}
        <div class="dis-jp">あ</div>
        {% else %}
        <div class="dis-en">A</div>
        {% endif %}
        <span class="tooltipstext">{{ ref_font.name }}</span>
      </div>
      {% for font in fonts %}
        <div class="tooltips dis-font dis-else {{ font.style }}" style="{{ font.get_position() }}">  
          {% if font.lang == 'jp' %}
            <a href="/{{ jp_lang }}/{{ font.style }}/{{ view }}"><div class="dis-jp">あ</div></a>
          {% else %}
            <a href="/{{ en_lang }}/{{ font.style }}/{{ view }}"><div class="dis-en">A</div></a>
          {% endif %}
          <span class="tooltipstext">{{ font.name }}</span>
        </div>
      {% endfor %}
    </div></div>
  </div>
{% endblock %}

