{% extends "jp_base.html" %}

{% block content %}
<div class="container">

  <div class="row"><div class="col-sm-12">
    <div class="{{ ref_font.style }}">
      <a href="/jplist">
        <h1>{{ ref_font.name }}</h1>
      </a>
      <p> This app helps you to find similar font to your choice, considering font balance, weight, and category.<br>
          Following list is sorted according to similarity to 
          <a href="/jplist"><span class="sort_link">{{ ref_font.name }}</span></a>.</p>
    </div>
  </div></div>
  <div class="clear">

  <div class="row"><div class="col-sm-12 mt-3">
    {% for font in fonts %}
    <div class="{{ font.style }}">
      文字のあいだのバランス<br>
      <small>{{ font.name }}: {{ font.distance }}</small>
      <hr>
    </div>
   <br>
    {% endfor %}
  </div></div>


</div>
{% endblock %}

