<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ sitename }}</title>
    <link rel="icon" type="img/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="img/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">

<!-- fontts -->
    <script src="https://use.typekit.net/ewm7tjr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/jp_font.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container-fluid top-header"><div class="row top">
      <div class="col-sm-12"> 
        <div class="top-title">
          <a href="/jp">
            {{ sitename }}
          </a>
        </div>
        <div class="top-nav">
          <div class="top-nav-link">
            <a href="/jpsort">List view</a> | <a href="/jp">Distance view</a> 
          </div>
        </div>
      </div>
    </div></div>


    {% block content %}
    {% endblock %}
  </body>
</html>
