{% extends "base.html" %}

{% block content %}
<div class="container">


  <div class="row"><div class="col-sm-12 mt-3">
    <div class="list-caption">日本語ゴシック</div>
    {% for font in jp_gothic_list %}
        <a href="/{{ jp_lang }}/{{ font.style }}/{{ view }}">
        {% if font.style == ref_font.style %}
          <div class="ref {{ font.style }}"> {{ font.name }} <span class="glyphicon glyphicon-ok"></span></div>
        {% else %}
          <div class="list-font {{ font.style }}"> {{ font.name }}</div>
        {% endif %}
        </a><hr>
    {% endfor %}
  </div></div>

  <div class="row"><div class="col-sm-12 mt-3">
    <div class="list-caption">日本語明朝</div>
    <hr>
    {% for font in jp_mincho_list %}
        <a href="/{{ jp_lang }}/{{ font.style }}/{{ view }}">
        {% if font.style == ref_font.style %}
          <div class="ref {{ font.style }}"> {{ font.name }} <span class="glyphicon glyphicon-ok"></span></div>
        {% else %}
          <div class="list-font {{ font.style }}"> {{ font.name }}</div>
        {% endif %}
        </a><hr>
    {% endfor %}
  </div></div>

  <div class="row"><div class="col-sm-12 mt-3">
    <div class="list-caption">Sans serif</div>
    <hr>
    {% for font in en_sans_list %}
        <a href="/{{ en_lang }}/{{ font.style }}/{{ view }}">
        {% if font.style == ref_font.style %}
          <div class="ref {{ font.style }}"> {{ font.name }} <span class="glyphicon glyphicon-ok"></span></div>
        {% else %}
          <div class="list-font {{ font.style }}"> {{ font.name }}</div>
        {% endif %}
        </a><hr>
    {% endfor %}
  </div></div>

</div>
{% endblock %}

