{% extends "base.html" %}

{% block content %}
<div class="container-fluid list-bg">

  {% if view == 'distance' or ref_font.lang == 'jp' %}
    <div class="row"><div class="col-sm-12 mt-3">
      <div class="list-caption">日本語ゴシック</div>
      <hr class="list-hr">
      {% for font in jp_sans_list %}
        <a href="/{{ jp_lang }}/{{ font.style }}/{{ view }}">
        {% if font.style == ref_font.style %}
          <div class="ref list-fonts {{ font.style }}"> {{ font.name }}</div>
        {% else %}
          <div class="list-font list-fonts {{ font.style }}"> {{ font.name }}</div>
        {% endif %}
        </a><hr class="list-hr">
      {% endfor %}
    </div></div>

    <div class="row"><div class="col-sm-12 mt-3">
      <div class="list-caption">日本語明朝</div>
      <hr class="list-hr">
      {% for font in jp_serif_list %}
        <a href="/{{ jp_lang }}/{{ font.style }}/{{ view }}">
        {% if font.style == ref_font.style %}
          <div class="ref list-fonts {{ font.style }}">{{ font.name }}</div>
        {% else %}
          <div class="list-font list-fonts {{ font.style }}"> {{ font.name }}</div>
        {% endif %}
        </a><hr class="list-hr">
      {% endfor %}
    </div></div>
  {% endif %}

  {% if view == 'distance' or ref_font.lang == 'en' %}
    <div class="row"><div class="col-sm-12 mt-3">
      <div class="list-caption">Sans Serif</div>
      <hr class="list-hr">
      {% for font in en_sans_list %}
        <a href="/{{ en_lang }}/{{ font.style }}/{{ view }}">
        {% if font.style == ref_font.style %}
          <div class="ref list-fonts {{ font.style }}">{{ font.name }}</div>
        {% else %}
          <div class="list-font list-fonts {{ font.style }}"> {{ font.name }}</div>
        {% endif %}
        </a><hr class="list-hr">
      {% endfor %}
    </div></div>

    <div class="row"><div class="col-sm-12 mt-3">
      <div class="list-caption">Serif</div>
      <hr class="list-hr">
      {% for font in en_serif_list %}
        <a href="/{{ en_lang }}/{{ font.style }}/{{ view }}">
        {% if font.style == ref_font.style %}
          <div class="ref list-fonts {{ font.style }}">{{ font.name }}</div>
        {% else %}
          <div class="list-font list-fonts {{ font.style }}"> {{ font.name }}</div>
        {% endif %}
        </a><hr class="list-hr">
      {% endfor %}
    </div></div>
  {% endif %}

</div>
{% endblock %}

