{% extends "base.html" %}


{% block content %}
<div class="container-fluid">


<div class="row"><div class="col-sm-12 ptb-2">
  {% if font_selected %}
    <h1 class="{{ font_selected.get_style() }}"> Hello </h1> 
  {% else %}
    <h1> Hello </h1>
  {% endif %}
  
  <form method="post">
  <div class="dropdown-prep">Selected font</div> 
    <select name="font_selected" class="dropdown dropdown-top action-link"
            data-toggle="dropdown" onchange="this.form.submit()">
      {% if font_selected %}
        <option value="" disabled selected class="dropdown-list-selected">
        {{ font_selected.name }}</option>
      {% endif %}

      {% for font in fonts %}
        <option class="dropdown-list {{ font.get_style() }}"
                value="{{ font.name }}">{{ font.name }}</option>
      {% endfor %}
    </select>
  </form>
</div></div>

{% if font_selected %}
  <div class="row"><div class="col-sm-12 ptb-2 frame">
    {% for font in fonts %}
    <div class=" tooltips frame-font {{ font.get_style() }}" 
         style="{{ font.get_position(font_selected)}}"> A 
      <span class="tooltipstext">{{ font.name }}</span>
    </div>
    {% endfor %}
    <div class="frame-hr"></div>
    <div class="frame-triangle"><span class="glyphicon glyphicon-triangle-top"></span></div>
  </div></div>
{% endif %}

</div>
{% endblock %}

