/* google sans */
/* typekit sans */
/* typekit and open */
/* google serif */
/*typekit serif */
/* common */
/* google sans */
.noto_sans {
  font-family: "Noto Sans"; }

/* typekit sans */
.eurostile {
  font-family: "eurostile"; }

.franklin_gothic_urw {
  font-family: "franklin-gothic-urw"; }

.fira_sans {
  font-family: "fira-sans-2"; }

/* google fonts serif*/
.noto_serif {
  font-family: "Noto Serif"; }

/* typekit serif*/
.adobe_garamond {
  font-family: "adobe-garamond-pro"; }

.adobe_caslon {
  font-family: "adobe-caslon-pro"; }

.baskerville_urw {
  font-family: "baskerville-urw"; }

.bodoni_urw {
  font-family: "bodoni-urw"; }

/* common */
.courier_new {
  font-family: "Courier New"; }

.georgia {
  font-family: "Georgia"; }

.times_new_roman {
  font-family: "Times New Roman"; }

.verdana {
  font-family: "Verdana"; }
