/* google sans */
/* google serif */
/*common */
/* google fonts */
.noto_serif {
  font-family: "Noto Serif"; }

.noto_sans {
  font-family: "Noto Sans"; }

/* common */
/* font styles */
.helvetica {
  font-family: "Helvetica", sans-serif; }

.libre_baskerville {
  font-family: "Libre Baskerville", serif; }

.roboto {
  font-family: "Roboto", sans-serif; }

.zilla_slab {
  font-family: "Zilla Slab", serif; }
