/* Google */
/* typekit */
.noto_sans_japanese {
  font-family: "Noto Sans Japanese"; }

.kozuka_gothic_pro {
  font-family: "kozuka-gothic-pro"; }

.sawarabi_gothic {
  font-family: "Sawarabi Gothic"; }

.rounded_mplus_1c {
  font-family: "Rounded Mplus 1c"; }

.mplus_1p {
  font-family: "Mplus 1p"; }
