/* Typekit - mincho*/
/* Google - mincho*/
/* typekit - gothic*/
/* Google - gothic*/
/* Typekit - mincho*/
.a_otf_futo_min_a101_pr6n {
  font-family: "a-otf-futo-min-a101-pr6n"; }

/* google -mincho*/
.sawarabi_mincho {
  font-family: "Sawarabi Mincho"; }

/* typekit -gothic*/
.heisei_kaku_gothic_std {
  font-family: "heisei-kaku-gothic-std"; }

.ryo_gothic_plusn {
  font-family: "ryo-gothic-plusn"; }

.a-otf_gothic_bbb_pr6n {
  font-family: "a-otf-gothic-bbb-pr6n"; }

.kozuka_gothic_pr6n {
  font-family: "kozuka-gothic-pr6n"; }

.kozuka_gothic_pro {
  font-family: "kozuka-gothic-pro"; }

/* google fonts -gothic*/
.noto_sans_japanese {
  font-family: "Noto Sans Japanese"; }

.sawarabi_gothic {
  font-family: "Sawarabi Gothic"; }

.rounded_mplus_1c {
  font-family: "Rounded Mplus 1c"; }

.mplus_1p {
  font-family: "Mplus 1p"; }
